<html>
  <head>
    <title>Raspberry Pi Air Quality</title>
  </head>
  <body>
    <h1>Raspberry Pi Air Quality</h1>
	<font size=5>
    <p>Current time:  {{ time }}</p>
    <p>Temperature F: {{ temperature }} {{ temp_quality }}</p>
    <p>Humidity %: {{ humidity }} {{ hum_quality }}</p>
	<p>AQI (1-5): {{ aqi }} {{ aqi_type }}</p>
	<p>TVOC (ppb): {{ tvoc }} {{ tvoc_quality }}</p>
	<p>eCO2 (ppm): {{ eco2 }} {{ eco2_type }}</p>
	</font>
	<img src="data:image/png;base64,{{ plot_image }}" alt="Air Quality Plot">
  </body>
</html>
